.bigCounter {
    text-align: center;
    background: black;
    padding: 10px;

}


.bigCounter div {
    display: inline;
    font-size: 50px;
    height: 20px;
    background-color: #101010;
    color :white;
    padding: 10px;


}



/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
